<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  nav {
  margin-bottom: 1rem;
  display: block;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

router-outlet {
  display: block;
}

.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  gap: 2rem;
}

.albums {
  width: 30%;
}

.photos {
  width: 70%;
}
</style>

<main class="main">
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <h1>Albums and Photos (NGXS + Angular 17)</h1>

  <button (click)="clearStore()">Reset Store</button>
  <button (click)="loadData()">Load Data</button>
  <div class="content">
    <div class="albums">
      <app-albums></app-albums>
    </div>
    <div class="photos">
      <app-photos></app-photos>
    </div>
  </div>
</div>
</main>